@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


.banner {
    background: url("assets/s2.webp") no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.about {
    background-color: black;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.portfolio {
    background: url(assets/bs1.jpg);
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.footer {
    background: url(assets/s4.webp) center center;
    background-size: cover;
    padding-bottom: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 55%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.7);
}

.display-2 {
    color: #ff5757;
}

.ikon a {
    color: #fff;
    font-size: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.ikon2 a {
    color: #fff;
    font-size: 30px;
    padding-left: 2px;
    padding-right: 2px;
}

.panah a {
    color: #ff5757;
    font-size: 50px;
}